.headerStyle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  height: 60px;
  background-color: #cedbf5;
  color: #333;
  box-shadow: 0 2px 4px rgba(0 0 0 0.1);
}

.logoContainer {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logoStyle {
  height: 35px;
  width: auto;
  border-radius: 4px;
}

.companyName {
  font-weight: bold;
  font-size: 1.2rem;
  color: "#000";
}

.dashboardLabel {
  font-size: 2rem;
  font-weight: 700;
  color: #ffffff;
}
