.leftComponent {
  margin: 0 1vw;
  gap: 1vh;
  display: flex;
  flex-direction: column;
}
.leftMain {
}
.leftCategory {
  height: 7vh;
  padding: 1vh 1vw;
  border-radius: 0.8rem;
  background-color: #cedbf5;
  /* text-align: left; */
  font-weight: 200;
  align-content: center;
  font-size: 1.8rem;
}
.leftTitle{
  font-weight: 700;
}
.leftItems {
  height: 66vh;
  padding: 2vh 1vw;
  border-radius: 0.8rem;
  text-align: left;
  gap: 0.8vh;
  display: flex;
  flex-direction: column;
  background-color: #f5f8fd;
}
.leftOptions {
  height: 5vh;
  align-content: center;
  font-weight: 600;
  padding: 0 20px;
  width: 85%;
  /* border: 1px solid black; */
  border-radius: 0.8rem;
  background-color: #cedbf5;
  &.selected {
    background-color: white !important;
    border: 1px solid #cedbf5;
  }
}
.leftOptions:hover{
  background-color: #fff;
}
